@import "tailwindcss";

:root {
  --background: #faf7f1;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Put animations OUTSIDE @theme */

/* @keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradientMove 6s ease-in-out infinite;
} */

.gradient-card {
  background: linear-gradient(
    222.4deg,
    #FC7B1B 1.33%,
    #0A43FF 98.87%
  );

  background-size: 250% 250%;
  animation: gradientMove 10s ease-in-out infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 100% 0%;
  }

  25% {
    background-position: 100% 50%;
  }

  50% {
    background-position: 100% 100%;
  }

  75% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 0%;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
